.aboutMe h2 {
    @include sectionTitle;
    margin: 0;
}

.hiddenOnDesktop {
    display: none;
}

.about {
    position: relative;
    padding-bottom: 70px;
}

.flex {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
    padding-top: 30px;
}

.paragraph {
    margin-left: 5%;
    padding-top: 14%;
}

.myPhoto {
    width: 100%;
    margin-top: 10%;
}

.about:before {
    @include beforeGrey;
}

.about:after {
    @include afterGrey;
}

