
header {
    padding-top: 10px;
    padding-bottom: 30px;
    position: relative;
    .headingNav {
        text-align: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
    }    
}

header::before{
    @include beforeGrey;
  }

header::after{
    @include afterGrey;
  }


.headingNav ul li {
        display: inline-block;
        font-family: $monts;
        font-weight: 700;
        padding: 0;
        
            a {
                text-decoration: none;
                position:relative;
                padding: 10px 30px;
                color: black;
                background: transparent;
                transition: all 0.2s linear;
                z-index: 1;
            }

            a:hover {
                color: white;
            }

            a::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: $gradient;
                z-index: -1;
                transition: opacity 0.8s linear;
                opacity: 0;
            }

            a:hover::before {
                opacity: 1;
            }
    }

.menu {
    padding-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

ul.navigator.open {
        display: none;
    }

.hamburger {
    display: none;
}

.landing {
    background: $sectionColor;
    padding: 20px 0;
    height: 100vh;
    position: relative;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.helloIam h1 {
    font-size: 15rem;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin: 0;
    font-family: 'Cookie', cursive;
}

.firstP {
    margin-bottom: 0;
}

.helloIam p {
    padding-left: 10%;
    font-size: 3.0rem;
    font-weight: 700;
}

.helloIam img {
    width: 30px;
}

.circle {
    position: absolute;
    top: 35%;
    left: 20%;
}

.square {
    position: absolute;
    left: 30%;
    bottom: 30%;
    transform: rotate(20deg);
}

.triangle {
    position: absolute;
    right: 37%;
    bottom: 15%;
    transform: rotate(0deg);
}

.circleStripes {
    position: absolute;
    right: 20%;
    top: 40%;
}

.cross {
    position: absolute;
    right: 70%;
    bottom: 20%;
    transform: rotate(-20deg)
}

.triangleStripes {
    position: absolute;
    left: 59%;
    top: 19%;
    transform: rotate(-220deg)
}

.hollowTraingle {
    position: absolute;
    left: 30%;
    top: 20%;
    transform: rotate(-60deg)
}

.zigzag {
    position: absolute;
    left: 68%;
    top: 76%;
    transform: rotate(-220deg)
}

.rotate{
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

.rotate.move{
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

@-webkit-keyframes move {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes move {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .move {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }

.landing::before{
    @include beforeWhite;
  }
  

.landing::after{
    @include afterWhite;
  }